Source: python-django-tastydocs
Section: python
Priority: optional
Maintainer: juanique
Homepage: https://github.com/juanique/django-tastydocs
Build-Depends: debhelper, python-support

Package: python-django-tastydocs
Architecture: all
Depends: ${python:Depends}, python-support, python-django-tastypie
Provides: ${python:Provides}
Description: Useful tools for developing REST services with django-tastypie.
